*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 4vh;
    background: linear-gradient(150.64deg, #8E2DE2 0%, #4A00E0 100%);
    height: 100vh;
}

input{
    width: 20vw;
    height: 4vh;
    padding: 1vw;
    border-radius: 1vw;
    margin-top: 2vw;
    border: 0px;
    font-size: 1vw;
}

.ghost-font{
    color: rgba(255, 255, 255, 0.5);
}

header{
    font-size: 3vh;
}

.temp{
    font-weight: bold;
    font-size: 6vw;
    margin-top: 15vw;
    margin-bottom: 1.6vw;
}

.city{
    font-size: 1.8vw;
    margin-bottom: 1vw;
}

.main{
    margin-bottom: 2vw;
    font-size: 1.4vw;
}

.change a{
    color: white;
    font-size: 1.4vw;
}

footer{
    margin-top: 15vw;
    font-size: 1.4vw;
}